.DS_Store
.idea
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/docs/node_modules
/docs/.react-router
/docs/.source
/docs/.vite
/docs/build
dist
dist-ssr
explorations
node_modules
.eslintcache

# npm pack output
*.tgz
*.tsbuildinfo
